body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 300px;
  width: 800px;
  border: #c88 1px solid;
}

#cy2 {
  height: 600px;
  width: 800px;
  border: #c88 1px solid;
}

#cy3 {
  height: 300px;
  width: 500px;
  border: #c88 1px solid;
}
