body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100px;
  width: 800px;
  border: #c88 1px solid;
}

#cy2 {
  height: 600px;
  width: 800px;
  border: #c88 1px solid;
}

#cy3 {
  height: 300px;
  width: 500px;
  border: #c88 1px solid;
}

#eat {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 1em;
  z-index: -1;
  color: #c88;
}
